<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz80z.busAward.common.dao.NewsMapper">
  <resultMap id="BaseResultMap" type="com.zz80z.busAward.common.model.News">
    <id column="news_id" jdbcType="INTEGER" property="newsId" />
    <result column="news_tittle" jdbcType="VARCHAR" property="newsTittle" />
    <result column="news_content" jdbcType="VARCHAR" property="newsContent" />
    <result column="news_author" jdbcType="VARCHAR" property="newsAuthor" />
    <result column="news_create" jdbcType="TIMESTAMP" property="newsCreate" />
    <result column="news_alter" jdbcType="TIMESTAMP" property="newsAlter" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="reserve" jdbcType="VARCHAR" property="reserve" />
  </resultMap>
  <sql id="limit_sql">
		<if test="page_sql != null and page_sql != ''">
			${page_sql}
		</if>
  </sql>
  <sql id="where_all">
		<where>
			<if test="findContent != null and findContent !='' ">
				and (
				LOWER(category) like CONCAT("%",#{findContent,jdbcType=VARCHAR},"%")
				)
			</if>
		</where>
  </sql>
  <!-- 普通的分页查询 -->
	<select id="findAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from b_news
		<include refid="where_all" />
		order by news_id desc
		<include refid="limit_sql" />
	</select>
	<select id="findCount" resultMap="BaseResultMap">
		select count(news_id) from b_news
		<include refid="where_all" />
	</select>
	<select id="selectNewByCategory" resultMap="BaseResultMap" parameterType="java.lang.String">
		select 
		<include refid="Base_Column_List" />
		from b_news
		<where>
			<if test="category != null and category !=''">
			(category = #{category,jdbcType=VARCHAR})
			</if>
		</where>
		order by news_id desc
	</select>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    news_id, news_tittle, news_content, news_author, news_create, news_alter, category, 
    reserve
  </sql>
  <select id="selectByExample" parameterType="com.zz80z.busAward.common.model.NewsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from b_news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from b_news
    where news_id = #{newsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from b_news
    where news_id = #{newsId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zz80z.busAward.common.model.NewsExample">
    delete from b_news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zz80z.busAward.common.model.News">
    insert into b_news (news_id, news_tittle, news_content, 
      news_author, news_create, news_alter, 
      category, reserve)
    values (#{newsId,jdbcType=INTEGER}, #{newsTittle,jdbcType=VARCHAR}, #{newsContent,jdbcType=VARCHAR}, 
      #{newsAuthor,jdbcType=VARCHAR}, #{newsCreate,jdbcType=TIMESTAMP}, #{newsAlter,jdbcType=TIMESTAMP}, 
      #{category,jdbcType=VARCHAR}, #{reserve,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zz80z.busAward.common.model.News">
    insert into b_news
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="newsId != null">
        news_id,
      </if>
      <if test="newsTittle != null">
        news_tittle,
      </if>
      <if test="newsContent != null">
        news_content,
      </if>
      <if test="newsAuthor != null">
        news_author,
      </if>
      <if test="newsCreate != null">
        news_create,
      </if>
      <if test="newsAlter != null">
        news_alter,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="reserve != null">
        reserve,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="newsId != null">
        #{newsId,jdbcType=INTEGER},
      </if>
      <if test="newsTittle != null">
        #{newsTittle,jdbcType=VARCHAR},
      </if>
      <if test="newsContent != null">
        #{newsContent,jdbcType=VARCHAR},
      </if>
      <if test="newsAuthor != null">
        #{newsAuthor,jdbcType=VARCHAR},
      </if>
      <if test="newsCreate != null">
        #{newsCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="newsAlter != null">
        #{newsAlter,jdbcType=TIMESTAMP},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="reserve != null">
        #{reserve,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zz80z.busAward.common.model.NewsExample" resultType="java.lang.Long">
    select count(*) from b_news
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update b_news
    <set>
      <if test="record.newsId != null">
        news_id = #{record.newsId,jdbcType=INTEGER},
      </if>
      <if test="record.newsTittle != null">
        news_tittle = #{record.newsTittle,jdbcType=VARCHAR},
      </if>
      <if test="record.newsContent != null">
        news_content = #{record.newsContent,jdbcType=VARCHAR},
      </if>
      <if test="record.newsAuthor != null">
        news_author = #{record.newsAuthor,jdbcType=VARCHAR},
      </if>
      <if test="record.newsCreate != null">
        news_create = #{record.newsCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.newsAlter != null">
        news_alter = #{record.newsAlter,jdbcType=TIMESTAMP},
      </if>
      <if test="record.category != null">
        category = #{record.category,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve != null">
        reserve = #{record.reserve,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update b_news
    set news_id = #{record.newsId,jdbcType=INTEGER},
      news_tittle = #{record.newsTittle,jdbcType=VARCHAR},
      news_content = #{record.newsContent,jdbcType=VARCHAR},
      news_author = #{record.newsAuthor,jdbcType=VARCHAR},
      news_create = #{record.newsCreate,jdbcType=TIMESTAMP},
      news_alter = #{record.newsAlter,jdbcType=TIMESTAMP},
      category = #{record.category,jdbcType=VARCHAR},
      reserve = #{record.reserve,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zz80z.busAward.common.model.News">
    update b_news
    <set>
      <if test="newsTittle != null">
        news_tittle = #{newsTittle,jdbcType=VARCHAR},
      </if>
      <if test="newsContent != null">
        news_content = #{newsContent,jdbcType=VARCHAR},
      </if>
      <if test="newsAuthor != null">
        news_author = #{newsAuthor,jdbcType=VARCHAR},
      </if>
      <if test="newsCreate != null">
        news_create = #{newsCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="newsAlter != null">
        news_alter = #{newsAlter,jdbcType=TIMESTAMP},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="reserve != null">
        reserve = #{reserve,jdbcType=VARCHAR},
      </if>
    </set>
    where news_id = #{newsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zz80z.busAward.common.model.News">
    update b_news
    set news_tittle = #{newsTittle,jdbcType=VARCHAR},
      news_content = #{newsContent,jdbcType=VARCHAR},
      news_author = #{newsAuthor,jdbcType=VARCHAR},
      news_create = #{newsCreate,jdbcType=TIMESTAMP},
      news_alter = #{newsAlter,jdbcType=TIMESTAMP},
      category = #{category,jdbcType=VARCHAR},
      reserve = #{reserve,jdbcType=VARCHAR}
    where news_id = #{newsId,jdbcType=INTEGER}
  </update>
</mapper>