<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zz80z.busAward.common.dao.PermissionMapper">
	<resultMap id="BaseResultMap" type="com.zz80z.busAward.common.model.Permission">
		<id column="permission_id" property="permissionId" jdbcType="INTEGER" />
		<result column="permission_name" property="permissionName" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="limit_sql">
		<if test="page_sql != null and page_sql != ''">
			${page_sql}
		</if>
	</sql>
	<sql id="where_all">
		<where>
			<if test="findContent != null and findContent !='' ">
				and (
				LOWER(permission_name) like CONCAT("%",#{findContent,jdbcType=VARCHAR},"%") or
				LOWER(url) like CONCAT("%",#{findContent,jdbcType=VARCHAR},"%")
				)
			</if>
		</where>
	</sql>
	<select id="findAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from b_permission
		<include refid="where_all" />
		<include refid="limit_sql" />
	</select>
	<select id="findCount" resultMap="BaseResultMap">
		select count(permission_id) from b_permission
		<include refid="where_all" />
	</select>
	<!-- 根据角色获取权限，marker:0,没有权限，marker：非0(和up.id)一致表示有权限。 com.zz80z.busAward.user.bo.PermissionBo中的这个方法是校验权限 
		public boolean isCheck(){ return StringUtils.equals(roleId,marker); } -->
	<select id="selectPermissionById" resultType="com.zz80z.busAward.user.bo.PermissionBo">
		select
		up.permission_id,ur.role_id roleId,up.permission_name,up.url,ifnull(ur.role_id,0)marker 
		from b_permission up
		left join b_role_permission urp on urp.permission_id = up.permission_id
		left join (select role_id from b_role where role_id = #{roleId,jdbcType=BIGINT}) ur on ur.role_id = urp.role_id
		group by up.permission_id
	</select>
	<!-- 根据用ID查询permission -->
	<select id="findPermissionByUserId" resultType="java.lang.String">
		select p.url from b_permission p , b_role_permission rp, b_user_role ur
		where user_id =#{id,jdbcType=BIGINT} and p.permission_id = rp.permission_id and rp.role_id = ur.role_id
	</select>

	<sql id="Base_Column_List">
		permission_id, permission_name, url, description
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from b_permission
		where permission_id = #{permissionId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from b_permission
		where permission_id = #{permissionId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.zz80z.busAward.common.model.Permission">
		insert into b_permission (permission_id, permission_name, url,
		description)
		values (#{permissionId,jdbcType=INTEGER},
		#{permissionName,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.zz80z.busAward.common.model.Permission">
		insert into b_permission
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="permissionId != null">
				permission_id,
			</if>
			<if test="permissionName != null">
				permission_name,
			</if>
			<if test="url != null">
				url,
			</if>
			<if test="description != null">
				description,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="permissionId != null">
				#{permissionId,jdbcType=INTEGER},
			</if>
			<if test="permissionName != null">
				#{permissionName,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.zz80z.busAward.common.model.Permission">
		update b_permission
		<set>
			<if test="permissionName != null">
				permission_name = #{permissionName,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
		</set>
		where permission_id = #{permissionId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.zz80z.busAward.common.model.Permission">
		update b_permission
		set permission_name = #{permissionName,jdbcType=VARCHAR},
		url = #{url,jdbcType=VARCHAR},
		description = #{description,jdbcType=VARCHAR}
		where permission_id = #{permissionId,jdbcType=INTEGER}
	</update>
</mapper>